:root {
    --purple: rgb(175, 63, 175); 
    --purple-red: rgb(218, 0, 170);
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family:'Be Vietnam Pro', sans-serif;
    line-height: 1.2;
    box-sizing: border-box;
}

img {
    width: 100%;
}

/* section-1 */

.container {
    max-width: 1100px;
    margin: 0 auto;

}


.hero .container {
    margin-top: 20px;
    justify-content: space-between;
}

.mission-focus {
    height: 120px;
    width: 520px;
    border-left: 4px solid var(--purple-red) ;
    position: relative;
    animation: slideInFromLeft 1s ease-in;
}

.mission-focus h1 {
    font-family: 'DM Serif Display', serif;
    word-spacing: 15px;
    padding-left: 15px;
    position: absolute;
    top: -12px;

}

.text-area {
    padding-top: 50px;
}

.text-area .lead-text {
    padding-right: 100px;
}

.hero .text-area {
    flex-basis: 300px;
}

.hero .img-section{
    flex-basis: 500px;
    animation: slideInFromRisht 1s ease-in;
}




.purple {
    color: var(--purple);
    transition: color 0.5s;
}


.purple:hover{
    color: var(--purple-red);
    cursor: pointer;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}


.btn {
    display: inline-block;
    background-color: var(--purple);
    color: white;
    padding: 10px 40px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.5s;
}

.btn:hover{
    background-color: var(--purple-red);
}

/* section-2 */

.mission-section .flex {
    justify-content: space-between;
}


.mission-section .mission-heading { 
   text-align: center;
   font-weight: 600;
}

.box {
    margin: 0 10px;
    padding: 35px;
    border-radius: 5%;
}

.mission-section .box {
    margin: 0;
    height: 280px;
    flex-basis: 280px;
}

.box-1 {
    background-color: rgba(250, 255, 210, 0.432);
}
.box-2 {
    background-color: rgba(231, 221, 255, 0.425)
}
.box-3 {
    background-color: rgba(255, 221, 253, 0.425)
}


.box-1 img {
    width: 55%;
}

.box-2 img {
    width: 55%;
}

.box-3 img {
    width: 55%;
}

/* section-3 */

.dream{  
    background-image: url(./images/shapes/shape-4.png);
    background-size: 20%;
    background-position: bottom left;
    background-repeat: no-repeat;
}

.dream .container .img-holder img {
    width: 100%;
   
}


.dream .flex {
    justify-content: space-between;
}
.dream .box {
    margin: 0;
    padding: 0;   
    flex-basis: 400px;
}
.dream .text-area{
    flex-basis: 600px;
}

/* section-4 */

.community{
    background-image: url(./images/shapes/shape-4.png);
    background-size: 20%;
    background-position: bottom right;
    background-repeat: no-repeat;
}

.community .flex {
    flex-direction: row-reverse;
    justify-content: space-between;
}

.community .box {
    margin: 0;
    padding: 0;
    flex-basis: 400px;
}

.community .text-area {
    flex-basis: 600px;
}



/* section-5 */


.grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
}

.grid .box {
    box-shadow: 0 10px 10px rgba(114, 114, 114, 0.295);
    margin: 50px;
    padding: 80px;
    text-align: center;
}

.carrier h1 {
    text-align: center;
}

/* footer */

footer {
    height: 150px;
    background-color: black;
}

footer h1,.footer-p{
    font-family: 'DM Serif Display', serif;
    color: white;
    text-align: center;
    letter-spacing: 1.5px;
}

/* Animation */
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRisht {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}


/* Utility */

/* fint size */

.f-18 {
    font-size: 18px;
}

.f-60 {
    font-size: 60px;
}

.f-48 {
    font-size: 48px;
}

.f-36 {
    font-size: 36px;
}

.f-16 {
    font-size: 16px;
}

/* margine */

.my-1 {
    margin: 1rem 0px;
}
.my-1-5 {
    margin: 1.5rem 0px;
}
.my-2 {
    margin: 2rem 0px;
}
.my-3 {
    margin: 3rem 0px;
}
.my-4 {
    margin: 4rem 0px;
}


.m-1 {
    margin: 1rem;
}
.m-1-5 {
    margin: 1.5rem;
}
.m-2 {
    margin: 2rem;
}
.m-3 {
    margin: 3rem;
}
.m-4 {
    margin: 4rem;
}


/* Padding */

.py-1 {
    padding: 1rem 0px;
}
.py-1-5 {
    padding: 1.5rem 0px;
}
.py-2 {
    padding: 2rem 0px;
}
.py-3 {
    padding: 3rem 0px;
}
.py-4{
    padding: 4rem 0px;
}

.p-1 {
    padding: 1rem;
}
.p-1-5 {
    padding: 1.5rem;
}
.p-2 {
    padding: 2rem;
}
.p-3 {
    padding: 3rem;
}
.p-4 {
    padding: 4rem;
}